<%- include ../layouts/cabecera.ejs  %> 
<br/><br/>
<br/><br/>
<div class="card">
    <div class="card-header">
        Formulario de captura de usuarios
    </div>
    <div class="card-body">
        <h5 class="card-title">Datos del usuario</h5>
        <p class="card-text">
            

        <form method="post" action="/usuarios" enctype="multipart/form-data">
            

            <div class="form-group">
                <label for="my-input">Nombre:</label>
                <input id="my-input" class="form-control" type="text" name="nombre">
            </div>
            <div class="form-group">
                <label for="my-input">Apellido:</label>
                <input id="my-input" class="form-control" type="text" name="apellido">
            </div>
            <div class="form-group">
                <label for="my-input">Edad:</label>
                <input id="my-input" class="form-control" type="text" name="edad">
            </div>
            <div class="form-group">
                <label for="my-input">Correo:</label>
                <input id="my-input" class="form-control" type="text" name="correo">
            </div>
            <div class="form-group">
                <label for="my-input">Nacionalidad:</label>
                <input id="my-input" class="form-control" type="text" name="nacionalidad">
            </div>
            <div class="form-group">
                <label for="my-input">Carnet:</label>
                <input id="my-input" class="form-control" type="text" name="ci">
            </div>

            <div class="form-group">
                <label for="my-input">Imagen</label>
                <input id="my-input" class="form-control-file" type="file" name="archivo">
            </div>

            <button class="btn btn-success" type="submit">Guardar</button>
            <a href="/usuarios" class="btn btn-primary">Cancelar</a>


        </form>


        </p>
    </div>
</div>




<%- include ../layouts/pie.ejs  %> 